.hero.is-primary2 {
    background-color: #00d1b2;
    color: #fff;
}

.tag:not(body).is-primary2 {
    background-color: #00d1b2;
    color: #fff;
}

.button.is-primary.is-outlined2 {
    background-color: transparent;
    border-color: #00d1b2;
    color: #00d1b2;
}

.button.is-primary2 {
    background-color: #c4632b;
    border-color: transparent;
    color: #fff;
}

.carousele {
    width: 600px;
    height: 250px;
    margin: 0 auto;
    align-self: center;
    margin-bottom: 50px;
}
.search{
    width: 600px;
    align-self: center;
    margin: 0 auto;
}